*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body
{
	display: grid;
	place-items: center;
	height: 100vh;
	background: #0f1423;
}
.container
    {
        height: 600px;
        width: 800px;
        background:#3d3f46;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.7), -2px -2px 3px rgba(255,255,255,0.2);
    }
#primeiraparte
{
	text-align: center;
	margin: 15px 0px;
	font-size: 20px;
	color: #ec3051;
}
#qt{

	height: 50px;
	width: 650px;
	outline: none;
	background: transparent;
	padding: 0px 20px;
	border: 2px solid #ec3051;
	font-size: 20px;
	margin: 0px 25px;
	color: #ec3051;
}
#qtAlunos{
    height: 50px;
	width: 300px;
	border: none;
	outline: none;
	background: #ec3051;
	padding: 0px 20px;
	font-size: 20px;
	margin: 14px 25px;
	cursor: pointer;
	font-weight: 600;
	color: #191e2d;
}
#calcMediaGeral{
    height: 50px;
	width: 300px;
	border: none;
	outline: none;
	background: #ec3051;
	padding: 0px 20px;
	font-size: 20px;
	margin: 14px 25px;
	cursor: pointer;
	font-weight: 600;
	color: #191e2d;
}
